# These values override the defaults in config/config.py
GOOGLE_APPLICATION_CREDENTIALS="path to service account credentials file (json)"

REDIS_HOST="redis url"
REDIS_PORT="redis port"
REDIS_PASSWORD="redis password"

MONGODB_URL="mongodb url"
MONGODB_DB_NAME="mongodb database name"

REMOTE_RABBIT=False # If false, it will connect to a local instance of RabbitMQ, otherwise you must set the variables below
RABBIT_HOST="Rabbit host"
RABBIT_PORT="Rabbit port"
RABBIT_VHOST="Rabbit virtual host"
RABBIT_USER="Rabbit user"
RABBIT_PASSWORD="Rabbit password"

ACCESS_TOKEN_EXPIRE_MINUTES="expiration time of jwt access token"
SECRET_KEY="secret key for jwt"
JWT_ALGORITHM="jwt algorithm"